:root {
  --color-primary: #52b180;
  --color-primary-active: #489775;
}

.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-login {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: var(--color-primary) !important;
}

.btn-login:hover,
.btn-login:active {
  color: #fff;
  background-color: var(--color-primary-active);
}

.form-control {
  color: #444;
}

.form-control::placeholder {
  color: #aaa;
}

.form-check-input:focus,
.btn-login:focus,
.form-control:focus {
  outline: 0;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.25rem rgba(82, 177, 128, 0.25) !important;
}
